:host {
  display: contents;
}

.bar-container {
  position: absolute;
  top: 10px;
  height: 40px;
  border-radius: 6px;
  cursor: pointer;
  z-index: 5;
  transition: all 0.2s ease;
  border-width: 1px;
  border-style: solid;

  /* Status-based Color Logic */
  &.status-open {
    background-color: var(--lighter-teal); /* Light Green */
    border-color: var(--light-teal);
    .status-badge {
      color: var(--teal);
      background-color: var(--light-teal);
    }
  }

  &.status-in-progress {
    background-color: var(--lighter-blue); /* Light Blue */
    border-color: var(--light-blue);
    .status-badge {
      color: var(--blue);
      background-color: var(--light-blue);
    }
  }

  &.status-blocked {
    background-color: var(--light-yellow); /* Light Red */
    border-color: var(--yellow);
    .status-badge {
      color: var(--red);
      background-color: var(--yellow);
    }
  }

  &.status-complete {
    background-color: var(--lighter-green); /* Light Gray */
    border-color: var(--light-green);
    .status-badge {
      color: var(--green);
      background-color: var(--light-green);
    }
  }

  &:hover {
    filter: brightness(0.95);
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1);
    z-index: 10;
  }

  .bar-inner {
    display: flex;
    align-items: center;
    padding: 0 12px;
    height: 100%;
    overflow: hidden;
    justify-content: space-between;
  }

  .order-label {
    font-size: 13px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  .status-badge {
    padding: 2px 8px;
    border-radius: 5px;
  }
}
