.timescale-container {
  position: relative;
  width: 200px;
  margin: 25px 0;

  .picker-trigger {
    display: flex;
    align-items: center;
    border-radius: 6px;
    background: white;
    padding: 2px;
    cursor: pointer;
    font-size: 13px;
    width: fit-content;
    box-shadow: 0 0 0 1px rgba(255, 255, 255, 1), 0 1px 3px 0 rgba(200, 207, 233, 1);

    .label {
      padding: 4px 8px;
      color: var(--gray-blue);
      background: var(--gray);
      border-radius: 5px 0 0 5px;
    }

    .current-value {
      padding: 4px 8px;
      color: var(--blue);
      font-weight: 600;
    }
  }

  .dropdown-menu {
    display: block;
    position: absolute;
    top: calc(100% + 4px);
    left: 0;
    width: 200px;
    background: white;
    border: 1px solid #e2e8f0;
    border-radius: 6px;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1);
    z-index: 200;
    overflow: hidden;

    .menu-item {
      padding: 10px 16px;
      color: #1e293b;
      cursor: pointer;

      &:hover {
        background: #f8fafc;
      }

      &.active {
        color: #2563eb;
        font-weight: 600;
      }
    }
  }
}
