.timeline-wrapper {
  display: flex;
  height: 100vh;
  border: 1px solid var(--light-gray);

  .header-cell {
    padding: 9px 30px;
    border-bottom: 1px solid var(--light-gray);
    color: var(--gray-blue);
  }

  .sidebar {
    width: 380px;
    flex-shrink: 0;
    border-right: 1px solid #e2e8f0;
    z-index: 10;
    background: white;

    .wc-cell {
      height: 60px;
      padding: 0 1rem;
      display: flex;
      align-items: center;
      border-bottom: 1px solid var(--light-gray);
      padding: 0 30px;
      &.active-row {
        background: var(--lighter-gray);
      }
    }
  }

  .timeline-area {
    flex-grow: 1;
    overflow-x: auto;
    position: relative;
    background: #ffffff;

    .timeline-row {
      height: 60px;
      position: relative;
      background-image: linear-gradient(to right, #f1f5f9 1px, transparent 1px);
      background-size: 100px 100%; // Matches 'Day' zoom
      margin-top: 1px solid var(--light-gray);
    }
  }

  .month-marker-container {
    position: absolute;
    top: 30px;
    bottom: 0;
    width: 0;
    display: flex;
    flex-direction: column;
    align-items: center; // Centers the badge and line on the 'left' position
    pointer-events: none;

    .marker-badge {
      /* Layout */
      padding: 1px 8px;
      border-radius: 5px; // Creates the rounded "pill" look
      width: 109px;
      height: 22px;
      white-space: nowrap;
      margin-left: 80px;
      z-index: 50;

      /* Typography */
      font-size: 14px;
      text-align: center;
      font-weight: 500;
      color: var(--blue); // Darker blue text

      /* Colors from your image */
      background-color: var(--light-lavender); // Light lavender/blue background
      // border: 1px solid var(--light-blue); // Subtle border

      /* Positioning */
      transform: translateY(10px); // Adjust to sit just below your month header
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
    }

    .marker-line {
      flex-grow: 1;
      width: 3px;
      background-color: var(--light-blue);
    }
  }
}
