<div class="timeline-toolbar">
  <app-timescale-picker
    [currentScale]="currentTimescale()"
    (scaleChange)="currentTimescale.set($event)"
  >
  </app-timescale-picker>
</div>
<div class="timeline-wrapper">
  <aside class="sidebar">
    <div class="header-cell">Work Center</div>
    @for (wc of workCenters(); track wc.docId) {
    <div class="wc-cell" [class.active-row]="hoveredRowId() === wc.docId">
      {{ wc.data.name }}
    </div>
    }
  </aside>

  <main class="timeline-area" #scrollArea>
    <app-timeline-header [pixelsPerDay]="pixelsPerDay()"> </app-timeline-header>
    <div
      class="grid-container"
      [style.width.px]="5000"
      [style.width.px]="totalGridWidth()"
      [style.--px-per-day.px]="pixelsPerDay()"
    >
      <div class="today-line" [style.left.px]="todayOffset()">
        <span class="today-label">Today</span>
      </div>

      @for (wc of workCenters(); track wc.docId) {
      <div
        class="timeline-row"
        (mouseenter)="hoveredRowId.set(wc.docId)"
        (mouseleave)="hoveredRowId.set(null)"
        (click)="openCreateForm(wc.docId, '2025-12-23')"
      >
        @for (order of getOrdersForRow(wc.docId); track order.docId) {
        <app-work-order-bar
          [order]="order"
          [pixelsPerDay]="pixelsPerDay()"
          (click)="$event.stopPropagation(); openEditForm(order)"
        >
        </app-work-order-bar>
        }
      </div>
      }
    </div>
  </main>
  <app-work-order-form
    [isOpen]="isDrawerOpen()"
    [order]="selectedOrder()"
    (close)="isDrawerOpen.set(false)"
    (save)="handleSaveOrder($event)"
    [updateError]="updateWorkOrderError()"
  >
  </app-work-order-form>
</div>
