/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@use 'bootstrap/scss/bootstrap';
@use '@ng-select/ng-select/themes/default.theme.css';
@import url('https://naologic-com-assets.naologic.com/fonts/circular-std/circular-std.css');

:root {
  --black: #030929;
  --gray: #f1f3f8;
  --gray-blue: #687196;
  --light-gray: #e6ebf0;
  --lighter-gray: #fafbfd;
  --green: #08a268;
  --light-green: #e1ffcc;
  --lighter-green: #f8fff3;
  --blue: #3e40db;
  --light-blue: #d6d8ff;
  --lighter-blue: #edeeff;
  --red: #b13600;
  --yellow: #fceeb5;
  --light-yellow: #fffcf1;
  --teal: #00b0bf;
  --light-teal: #cefbff;
  --lighter-teal: #e4fdff;
  --light-lavender: #d4d7ff;
}

* {
  font-family: 'Circular Std', sans-serif;
}

h1 {
  font-size: 24px;
  color: var(--black);
}

body {
  padding: 100px;
  font-size: 14px;
}
