svg {
  transition: transform 0.2s ease-in-out;
  transform: rotate(0deg);
  margin: 2px 2px 0 1px;

  &.expanded {
    transform: rotate(180deg);
    margin: 0px 8px 5px -5px;
  }

  path {
    fill: var(--blue);
  }
}
